<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <h1>Submit a Form</h1>
    <form action="/submit" method="post">  
        <label for="'name">Your Name:</label>
        <input type="text" id="name" name="name">
        <input type="submit" value="Submit">
    </form>
</body>
</html>

<!-- action="/submit": Specifies that when the form is submitted, the data will be sent to the /submit URL on the server. -->
 <!-- If no action is specified, the form will submit to the current page by default. -->